<!DOCTYPE html>

<html>

{% include head.html %}

<body onload="myFunction()" style="margin:0;">

  <div id="myDiv">
  {% include navbar.html %}

  <div id="loader"></div>
  
  {{ content }}

  {% include scripts.html %}

  {% include google-analytics.html %}

  </div>
    <script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>
</body>

</html>
